:root {
    --background_color: #212121;
    --my_blue: #69c5e9;
    --my_green: #21d810;
    --dark_blue: #212832;
    --dark_blue2: rgba(27, 40, 56, 1);
    --light_gray: #3b3b3b;
    --some_gray: #595858;
    --almost_white: #ebebeb;
  }

  .tab-menu-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .tab-menu {
    display: flex;
    gap: 15px;
  }

  @media (max-width: 600px) {
    .tab-menu {
      gap: 10px;
      justify-content: space-between;
      width: 100%;
    }
  }

  .tab {
    cursor: pointer;
    padding: 8px 32px;
    display: flex;
    align-items: flex-end;
    transition: color 0.5s ease;
    background-color: var(--light_gray);
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
  }

  @media (max-width: 600px) {
    .tab {
      padding: 8px 14px;
      font-size: 16px;
    }
  }
  
  .tab.active {
    font-weight: bold;
    color: var(--my_green);
    background-color: var(--background_color);
  }
  
  .tab:hover:not(.active) {
    border-width: 2px;
    color: var(--my_blue);
  }
  
  .tab-icon {
    margin-right: 8px;
    font-size: 24px;
  }

  @media (max-width: 600px) {
     .tab-icon {
       font-size: 22px;
     }
   }