:root {
    --background_color: #212121;
    --my_blue: #69c5e9;
    --my_green: #21d810;
    --dark_blue: #212832;
    --dark_blue2: rgba(27, 40, 56, 1);
    --light_gray: #3b3b3b;
    --some_gray: #595858;
    --almost_white: #ebebeb;
  }

.toolbar {
    display: flex;
    margin-top: 10px;
    margin-left: 11px;
    padding: 10px;
    align-items: center;
    background-color: var(--background_color);
  }
  
  .select-option {
    background-color: var(--light_gray);
    color: var(--almost_white);
    padding: 2px;
  }  

  .select-wrapper {
    position: relative;
    transition: border-color 0.3s ease, color 0.3s ease;
    background: transparent;
    border: solid 2px var(--almost_white);
    border-radius: 5px;
    border-color: var(--light_gray);
    color: var(--almost_white);
    height: 38px;
    width: 115px;
    padding: 5px;
    font-size: 14px;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
  }  
 
  .select-wrapper:hover:not(:disabled) {
    border-color: var(--my_blue);
    color: var(--my_blue);
  }

  .select-wrapper:disabled  {
    color: var(--light_gray);
    border-color: var(--light_gray);
    cursor: default;
  }
  
  .input-with-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
 
  .select-input:disabled {
    color: var(--light_gray);
    background: transparent;
    border-color: var(--light_gray);
  }

  .select-input {
    transition: border-color 0.3s ease, color 0.3s ease;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    color: var(--almost_white);
    padding: 5px;
    height: 35px;
    width: 100px;
    border: solid 2px var(--light_gray);
    border-radius: 5px;
    font-size: 14px;
    outline: none;
  }

  .select-input:hover:not(:disabled) {
    border-color: var(--my_blue);
    color: var(--my_blue);
    cursor: pointer;
  }
  
  .search-input {
    padding: 5px;
    background-color: var(--background_color);
    border: solid 2px var(--light_gray);
    border-radius: 5px;
    outline: none;
    width: 250px;
    height: 22px;
    color: var(--almost_white);
    font-size: 14px;
  }
  
  .search-input::placeholder {
    color: rgb(155, 155, 155);
  }

  .search-input:disabled {
    background: transparent;
    color: var(--light_gray);
    border-color: var(--light_gray);
  }