/* App.css */

:root {
  --background_color: #212121;
  --my_blue: #69c5e9;
  --my_green: #21d810;
  --dark_blue: #212832;
  --dark_blue2: rgba(27, 40, 56, 1);
  --light_gray: #3b3b3b;
  --some_gray: #595858;
  --almost_white: #ebebeb;
}

.app {
  display: flex;
  flex-direction: column;
  height: 90vh;
  gap: 20px;
  padding: 15px;
}

body {
  font-family: 'Roboto';
  background-color: var(--dark_blue);
  color: var(--almost_white);
}

.content-with-toolbar {
  background-color: var(--background_color);
  border-radius: 0px 5px 5px 5px;
  flex: 1;
  width: 100%;
}

.content-with-menu {
  flex: 1;
  display: flex;
  width: 100%;
  height: 95vh;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: flex;
  gap: 20px;
}

.horizontal-container {  
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.horizontal-container-right {  
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.horizontal-container-center {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  margin-left: 40%;
}

.content {
  min-width: 400px;
  min-height: 510px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  gap: 20px;
  position: relative;
}

.select-wrapper {
  position: relative;
  transition: border-color 0.3s ease, color 0.3s ease;
  background: transparent;
  border: solid 2px var(--almost_white);
  border-radius: 5px;
  border-color: var(--light_gray);
  color: var(--almost_white);
  height: 38px;
  width: 115px;
  padding: 5px;
  font-size: 14px;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}  

.select-wrapper:hover:not(:disabled) {
  border-color: var(--my_blue);
  color: var(--my_blue);
}

.select-wrapper:disabled  {
  color: var(--light_gray);
  border-color: var(--light_gray);
  cursor: default;
}